//
   Created by longNightKing on 12/15/15.

extends layout

block content
    h1.page-header Dashboard
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else